/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid black;
    background-color: #222222;
	height: 10%;
}

/*Style the editor*/
div.editor {
	box-sizing: border-box;
	height: 500px;
	border: 1px solid #ccc;
	width: 25%;
}

/* Style the buttons inside the tab */
div.tab button {
	box-sizing: border-box;
	background-color: #002233;
	color:#AAAAAA;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background:radial-gradient(#006688,#004466);
	color:#CCCCCC;
}

/* Create an active/current tablink class */
div.tab button.active {
    background:radial-gradient(#0088AA,#006688);
	color:#FFFFFF;
}

/* Style the tab content */
.tabcontent {
	box-sizing: border-box;
	height: 90%;
    display: none;
	background: radial-gradient(#006688,#AAAAAA);
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-top: none;
}

textarea {
	box-sizing: border-box;
    resize: none;
	background: none;

}

/*trying to style PIXI canvas with css = cute */
div.canvas {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 500px 500px;
};